/* reset */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Montserrat", sans-serif;
  background: #eee;
  color: #333;
}

p {
  margin-bottom: 0.8rem;
}

h1,
h2,
h3,
h4 {
  margin-bottom: 1rem;
}

a {
  color: #333;
  text-decoration: none;
}

ul {
  list-style: none;
}

strong {
  color: #f1c40f;
  font-weight: 300;
}

/* class */

.container {
  display: block;
  max-width: 1200px;
  margin: auto;
}

.title {
  font-weight: 300;
  font-size: 2rem;
  margin-bottom: 3rem;
}

.bg-dark {
  color: white;
}

/* vp + header */

.vp-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  padding: 1rem 2rem;
  background-color: #333;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

header a {
  color: white;
}

header ul {
  display: flex;
  flex-flow: row nowrap;
  list-style: none;
}

header ul li {
  padding: 1rem;
  font-size: 1.2rem;
}

header ul li a:hover {
  color: #f1c40f;
}

.vp-logo {
  font-size: 1.8rem;
  margin-bottom: 0;
  font-family: "Inspiration", cursive;
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
}

.vp-logo a {
  font-size: 2.5rem;
}

.vp-logo i {
  color: #f1c40f;
  font-size: 1.5rem;
  margin-right: 0.5rem;
}

.vp {
  flex: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: url(../images/frame.jpg) center/cover;

  min-height: 100vh;
}

.vp-content {
  max-width: 800px;
  text-align: center;
  color: white;
}

.vp-content p {
  font-size: 1.8rem;
  font-weight: 300;
  letter-spacing: 1px;
  line-height: 2rem;
}

.vp-content h1 {
  font-size: 3.3rem;
  margin-bottom: 2rem;
}

/* offer */

.offer {
  padding: 10rem 1rem 10rem 1rem;
}

.offer-list {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.offer-elem {
  border: 1px solid #ddd;
  background: white;
  margin: 1rem;
  flex: 1;
}

.offer-elem-img {
  width: 100%;
}

.offer-elem-text {
  text-align: center;
  padding: 2rem;
  font-size: 1.2rem;
}

.offer-separator {
  height: 2px;
  margin: 1rem auto;
  width: 50px;
  background: #333;
}

/* who */

.who {
  display: flex;
  flex-flow: row nowrap;
}

.who-content-img {
  flex: 1;
}
.who-content-img img {
  width: 100%;
}

.who-content-text {
  flex: 1;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #333;
}

.who-content-text h2 {
  margin-bottom: 2.5rem;
  font-size: 2rem;
}

.who-content-text p {
  font-size: 1.3rem;
  line-height: 1.8rem;
}
